@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
   --font-sans: Adamina, ui-serif, serif;
  --font-serif: Adamina, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 0.5rem;
  --background: #faf9f5;
  --foreground: #3d3929;
  --card: #faf9f5;
  --card-foreground: #141413;
  --popover: #ffffff;
  --popover-foreground: #28261b;
  --primary: #c96442;
  --primary-foreground: #ffffff;
  --secondary: #e9e6dc;
  --secondary-foreground: #535146;
  --muted: #ede9de;
  --muted-foreground: #696762;
  --accent: #e9e6dc;
  --accent-foreground: #28261b;
  --destructive: #141413;
  --border: #dad9d4;
  --input: #b4b2a7;
  --ring: #fa6331;
  --chart-1: #b05730;
  --chart-2: #9c87f5;
  --chart-3: #ded8c4;
  --chart-4: #dbd3f0;
  --chart-5: #b4552d;
  --sidebar: #f5f4ee;
  --sidebar-foreground: #3d3d3a;
  --sidebar-primary: #c96442;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #e9e6dc;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #e7e7e7;
  --sidebar-ring: #fa6331;
}

.dark {
  --background: #262624;
  --foreground: #c3c0b6;
  --card: #262624;
  --card-foreground: #faf9f5;
  --popover: #30302e;
  --popover-foreground: #e5e5e2;
  --primary: #d97757;
  --primary-foreground: #ffffff;
  --secondary: #faf9f5;
  --secondary-foreground: #30302e;
  --muted: #1b1b19;
  --muted-foreground: #b7b5a9;
  --accent: #1a1915;
  --accent-foreground: #f5f4ee;
  --destructive: #d13d3d;
  --border: #3e3e38;
  --input: #52514a;
  --ring: #ff9b79;
  --chart-1: #b05730;
  --chart-2: #9c87f5;
  --chart-3: #1a1915;
  --chart-4: #2f2b48;
  --chart-5: #b4552d;
  --sidebar: #1f1e1d;
  --sidebar-foreground: #c3c0b6;
  --sidebar-primary: #d97757;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #0f0f0e;
  --sidebar-accent-foreground: #c3c0b6;
  --sidebar-border: #313131;
  --sidebar-ring: #ff9b79;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.active-link {
 @apply bg-primary text-primary-foreground hover:bg-primary/90 hover:text-primary-foreground active:bg-primary/90 active:text-primary-foreground min-w-8 duration-200 ease-linear;
}

.exact-active-link {
  /* styles for exact active links */
}




@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}